.card-container {
    width: 572px;
    height: auto;
    padding: 30px 20px;
    background: #ffffff;
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    font-family: 'Pretendard', Arial, sans-serif;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.icon-image {
    width: 300px;
    height: 300px;
    margin: 0 auto 20px;
}

.header {
    color: #000000;
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 15px;
}

.description {
    color: #4d4d4d;
    font-family: 'Pretendard', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.8;
    margin-bottom: 25px;
    white-space: pre-line; /* 줄바꿈 유지 */
}

.contact-box {
    background-color: #f4f4f4;
    padding: 15px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.contact-text {
    font-size: 18px;
    font-weight: 600;
    color: #333333;
}

.kakao-button {
    background-color: #fee500;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 24px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    height: 70px;
}

.kakao-button:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.kakao-icon {
    width: 50px;
    margin-right: 10px;
}

.close-button {
    background-color: #ff4d4d;
    color: white;
    border: none;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.close-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}
