.member-page {
    padding: 20px;
}

.text-align-center {
    text-align: center;
    font-family: Pretendard, serif;
}

.title-description-spacing {
    margin-top: 20px;
    font-family: Pretendard, serif;
}

.filter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-family: Pretendard, serif;
    position: relative;
    z-index: 100;
}

.filter-button {
    background-color: #B751F2;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 12px;
    width: 150px;
    height: 50px;
    text-align: center;
    margin-right: 88px;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    font-family: Pretendard, serif;
}

.filter-button:not(.active) {
    background-color: #f9f9f9;
    color: #565B67;
    font-family: Pretendard, serif;
}

.dropbtn {
    background-color: white;
    color: #565B67;
    font-size: 20px;
    font-weight: 600;
    font-style: normal;
    line-height: normal;
    font-family: Pretendard, serif;
    border-radius: 12px;
    border: none;
    text-align: center;
    width: 150px;
    height: 50px;
    position: relative;
    cursor: pointer;
}

.dropbtn.active {
    background-color: #B751F2;
    color: white;
    font-family: Pretendard, serif;
}

/*.dropbtn::after {*/
/*    content: "▾";*/
/*    font-size: 20px;*/
/*    color: #565B67;*/
/*    position: absolute;*/
/*    right: 15px;*/
/*    top: 48%;*/
/*    transform: translateY(-50%);*/
/*    font-family: Pretendard, serif;*/
/*}*/

/*.dropbtn.active::after {*/
/*    content: "▴";*/
/*    font-size: 20px;*/
/*    color: white;*/
/*    font-family: Pretendard, serif;*/
/*}*/

.dropdown {
    position: relative;
    z-index: 1000;
    pointer-events: auto;
    font-family: Pretendard, serif;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    top: 100%;
    border-radius: 12px;
    text-align: center;
    margin-top: 5px;
    font-family: Pretendard, serif;
}

.dropdown-content button {
    color: #565B67;
    padding: 20px 16px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    border: none;
    background: none;
    cursor: pointer;
    font-size: 19px;
    font-weight: 600;
    font-family: Pretendard, serif;
}

.dropdown-content button:first-child {
    margin-top: 0;
    font-family: Pretendard, serif;
}

.dropdown-content button:hover {
    background-color: #B751F2;
    color: white;
    border-radius: 12px;
    font-family: Pretendard, serif;
}

.dropdown .dropdown-content.is-visible {
    display: block;
    font-family: Pretendard, serif;
    z-index: 1000;
}

.team-section2 {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 1320px;
    margin-top: 50px;
    margin-bottom: 90px;
    font-family: Pretendard, serif;
    position: relative;
    z-index: 1;
}

.team-box {
    padding: 0px 159px;
    border-radius: 16px;
    min-height: 400px;
    max-width: 1320px;
    margin-bottom: 90px;
    font-family: Pretendard, serif;
}

.team-name {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-top: 12px;
    font-family: Pretendard, serif;
}

.team-name span {
    font-weight: normal;
    margin-left: 10px;
    font-size: 32px;
    font-family: Pretendard, serif;
}

.team-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    margin-bottom: 20px;
    font-family: Pretendard, serif;
}

.season-badge {
    font-size: 18px;
    font-weight: bold;
    color: #D946EF;
    background-color: #cfcfcf;
    border: 1px solid #D946EF;
    border-radius: 12px;
    width: 123px;
    height: 34px;
    text-align: center;
    line-height: 30px;
    font-family: Pretendard, serif;
}

.team-members-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 60px;
    font-family: Pretendard, serif;
}

.team-member-card {
    background-color: #fefefe;
    border-radius: 15px;
    width: 294px;
    height: 369px;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Pretendard, serif;
}

.member-image {
    width: 139px;
    height: 138px;
    border-radius: 50%;
    background-color: #c0c0c0;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-family: Pretendard, serif;
}

.member-info {
    font-size: 32px;
    margin-top: 12px;
    font-family: Pretendard, serif;
}

.member-name {
    font-weight: bold;
    font-size: 22px;
    font-family: Pretendard, serif;
}

.member-roles {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 5px;
    flex-wrap: wrap;
    font-family: Pretendard, serif;
}

.member-role {
    border: 1px solid #007bff;
    color: #007bff;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 5px;
    font-family: Pretendard-Medium, serif;
}

.member-links {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
    font-family: Pretendard, serif;
}

.member-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #E7E7E7;
    border-radius: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    font-family: Pretendard, serif;
}

.member-links a svg,
.member-links img {
    width: 21px;
    height: 21px;
    color: #6c757d;
    font-family: Pretendard, serif;
}

.highlight-total {
    color: #B751F2;
    font-weight: bold;
    font-family: Pretendard, serif;
}
