.About {
    width: 110%;
    margin-left: -5%;
    margin-right: -5%;
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header {
    font-size: 25px;
    text-align: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 60px;
}

.section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%; /* 부모 요소의 100% 너비를 차지 */
}

.text {
    flex: 1;
    font-size: 22px;
    max-width: 1000px; /* 텍스트의 최대 너비 제한 */
    text-align: left;
}

.image {
    width: 450px; /* 가로로만 늘리고 싶은 크기 설정 */
    height: 400px; /* 원하는 높이 고정 */
    border-radius: 10px; /* 모서리를 둥글게 설정 */
}

.weight {
    font-weight: 700;
}

/* 두 번째 섹션만 좌우 반전 */
.reverse {
    flex-direction: row-reverse;
}

/* 미디어 쿼리 추가: 화면이 768px 이하일 때 이미지가 위로, 텍스트가 아래로 이동 */
@media (max-width: 768px) {
    .section {
        flex-direction: column; /* 모든 섹션에 대해 세로로 배치 */
        text-align: center; /* 텍스트를 가운데 정렬 (선택 사항) */
    }

    .text {
        margin-left: 0; /* 좌측 마진 제거 */
        max-width: 100%; /* 텍스트 너비를 100%로 설정 */
        text-align: center; /* 텍스트를 가운데 정렬 */
    }

    .image {
        margin-right: 0; /* 이미지의 오른쪽 마진 제거 */
        margin-bottom: 20px; /* 이미지와 텍스트 사이에 여백 추가 */
    }
}
