
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&family=Noto+Sans+KR:wght@400&display=swap');

/* 전체 페이지 스타일 */
.progress-page {
    background-color: black;
    color: white;
    text-align: center;
    padding: 50px;
    font-family: 'Roboto', sans-serif; /* 기본 폰트 */
}

/* 콘텐츠 전체를 감싸는 컨테이너 */
.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

/* 이미지와 아이맥 아이콘 */
.progress-image-container {
    position: relative;
    width: 60%;
}
.imac-icon {
    font-size: 15rem; /* 아이콘 크기 */
    color: white; /* 아이콘 색상 */
    position: relative; /* absolute 대신 relative로 위치 변경 */
    z-index: 1; /* z-index 설정으로 가리지 않게 처리 */
}

.imac-image {
    width: 100%;
    height: auto;
}

/* 텍스트 섹션 */
.progress-text-section {
    justify-items: center;
}

.hashtags {
    font-size: 2rem;
    line-height: 2rem;
    text-align: left;
}

/* 버튼 */
.progress-logo-button {
    background-color: white;
    border-radius: 20px;
    margin-top: 30px;
    display: flex; /* 버튼 컨테이너에 flex 적용 */
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* 커서를 포인터로 변경 */
}

.progress-logo-button:hover {
    transform: scale(1.05); /* 버튼 살짝 커짐 */
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3); /* 버튼 그림자 추가 */
}

.progress-button-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.stack-up-logo-image {
    width: 20%;
    height: 20%;
}
.soft-cat-logo-image {
    width: 40%;
    height: 40%;
}

/* 텍스트 컨테이너 스타일 */
.progress-text-container {
    color: white;
    font-size: 2rem; /* 기존 글자 크기에 맞춰 조정 */
    line-height: 2rem; /* 텍스트 간 위아래 간격 설정 */
}
.progress-text-align-right{
    text-align: right;
}
.progress-text-align-left{
    text-align: left;
}

/* 기본 텍스트 스타일 */
.progress-text {
    margin-bottom: 15px; /* 텍스트 간 여백 추가 */
    color: white;
    padding-right: 30px;
}

.softcat-color {
    color: #2447FF;
}


